pipeline/Clarity_VAL_FULL_DirectPull_Daily.json
{
	"name": "Clarity_VAL_FULL_DirectPull_Daily",
	"properties": {
		"activities": [
			{
				"name": "check_metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.20:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select x.sourcetablename,x.targetfilename,x.targetfoldername,x.query_full from etl.x_Databricks_Logic_new x\nleft join (select distinct TABLE_NAME from dbo.CR_STAT_EXTRACT where INITIALIZE_TIME >=DATEADD(HOUR, 22, DATEADD(DAY, DATEDIFF(DAY, 1, GETDATE()) , 0)) and FILE_SIZE_BYTES>0 ) c on c.TABLE_NAME=x.Sourcetablename \nleft join (select distinct TABLE_NAME from dbo.CR_STAT_DERTBL where ckpt_init >=DATEADD(HOUR, 22, DATEADD(DAY, DATEDIFF(DAY, 1, GETDATE()) , 0))) d on d.TABLE_NAME=x.Sourcetablename \nwhere IsActive =1 and Is_FULL=1 and  (c.TABLE_NAME is not null or  d.TABLE_NAME is not null)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Val_No_Table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "check_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('check_metadata').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyChangesToBlob_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.20:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "AzureEtlLoadTime",
											"value": {
												"value": "@formatDateTime(convertFromUtc(utcnow(), 'Mountain Standard Time'),'yyyy-MM-dd-HH-mm-ss')",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "@item().query_Full",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Val_No_Table",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "datasetgen2_CDC",
									"type": "DatasetReference",
									"parameters": {
										"path": {
											"value": "@concat(item().Targetfilename,'_Full','_',formatDateTime(convertFromUtc(utcnow(), 'Mountain Standard Time'),'yyyy-MM-dd-HH-mm-ss'),'.','parquet')",
											"type": "Expression"
										},
										"folder": "@item().targetfoldername"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "VAL"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-24T18:55:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}