pipeline/Clarity_PROD_ZC_FULL_First_Time.json
{
	"name": "Clarity_PROD_ZC_FULL_First_Time",
	"properties": {
		"activities": [
			{
				"name": "check_metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.20:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from etl.x_Databricks_Logic_new where IsActive =1 and is_ZC =1\nand exclude= 0 and Is_Deprecated=0",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Val_No_Table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "check_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('check_metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyChangesToBlob_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.20:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "AzureEtlLoadTime",
											"value": {
												"value": "@formatDateTime(convertFromUtc(utcnow(), 'Mountain Standard Time'),'yyyy-MM-dd-HH-mm-ss')",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "@item().query_Full",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Val_No_Table",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "datasetgen2_CDC",
									"type": "DatasetReference",
									"parameters": {
										"path": {
											"value": "@concat(item().Targetfilename,'_Full','_',formatDateTime(convertFromUtc(utcnow(), 'Mountain Standard Time'),'yyyy-MM-dd-HH-mm-ss'),'.','parquet')",
											"type": "Expression"
										},
										"folder": {
											"value": "@item().targetfoldername",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "PROD"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-19T15:41:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}